# Defines which files Git should ignore
# http://git-scm.com
*~
*.la
*.lo
*.o
*.pc
*.swp
.deps/
.dirstamp
.DS_Store
.libs/
aclocal.m4
autom4te.cache/
compile
config.guess
Config.h
Config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
!m4/.gitkeep
Makefile
Makefile.in
missing
stamp-h1
test-driver
build/
xcuserdata/
.build-xcframework/
Frameworks/
.build-xcframework/
