!m4/.gitkeep
*.la
*.lo
*.o
*.pc
*.swp
*~
.DS_Store
.build-xcframework/
.build-xcframework/
.deps/
.dirstamp
.libs/
Config.h
Config.h.in
Examples/Hello
Examples/HelloCompute
Frameworks/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
missing
stamp-h1
test-driver
xcuserdata/
